<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../STATIC/inicio.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="testimonios.html">Testimonios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section id="productos">
        <h2>Productos</h2>
        <div class="product-card">
            <img src="https://www.nutricore.com.co/images/products/luxe-loft-product-271-210645.jpg" alt="Producto 1">
            <h3>Proteína Whey</h3>
            <p>Precio: $20.00</p>
            <button>Comprar</button>
        </div>
        <div class="product-card">
            <img src="https://cloudinary.images-iherb.com/image/upload/f_auto,q_auto:eco/images/opn/opn02036/y/48.jpg" alt="Producto 2">
            <h3>BCAA</h3>
            <p>Precio: $15.00</p>
            <button>Comprar</button>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Gym y Suplementos. Todos los derechos reservados.</p>
    </footer>

    <script src="../STATIC/funcional.js"></script>
</body>
</html>
